body{
    background-color: #484848;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#title{
    color: white;
    font-size: 35px;
    font-weight:bolder;

}
#board{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.letter-box{
    border: 2px solid grey;
    width: 70px;
    height: 70px;
    margin: 2px;
    display:flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: #484848;
    color:white;
}
.letters-row{
    display: flex;
    font-size: 20px

}
.keyboard{
    display:flex;
    flex-direction: column;
    
}
.row{
    display: flex;
    justify-content: center;
}
.button{
    width: 60px;
    height: 40px;
    background-color: #818384;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    
}
#restart{
    width: 100px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: #818384;
    color: white;
    font-weight: bold;

}
#message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    font-size: 30px;
    color: white;
}
